html{
    box-sizing: border-box;
    font-size: medium;
}


body{
    font-family: 'Secular One', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

h1{
    font-weight: 400;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    right: 10px;
    width: 100%;
    background-color: #f8cf9b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contenedorCarrito{
    padding: 10px;
    cursor: pointer;
    color: white
}

#totalItem {
    color: white;
    background-color: red;
    padding: 0.5rem;
    border-radius: 50%;
}

.producto {
    margin: auto;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px 0;
}